@model IEnumerable<WebMVC.Models.ReplyList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CommentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReplyContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ApplicationUser.DisplayName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CommentId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ReplyContent)
    </td>
    @if (item.ModifiedUtc is null)
    {
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
    }
    else
    {
        <td>
            modified @Html.DisplayFor(modelItem => item.ModifiedUtc)
        </td>
    }
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ReplyId }) |
        @Html.ActionLink("Details", "Details", new { id = item.ReplyId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ReplyId })
    </td>
</tr>
}

</table>
